* {
    margin: 0;
    padding: 0;
    font-family: system, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", "Lucida Grande", "Roboto", "Ubuntu", Arial, sans-serif;
    font-weight: 300;
}

body {
    background: url('../img/bg.png');
    min-width: 560px;
}

strong, header span[id|="gh"] {
    font-weight: 600;
}

table {
    margin: auto;
    width: 99%;
    max-width: 1100px;
    table-layout: fixed;
}

.letterpress {
    text-shadow: 0px 1px 0px white;/*, 0px -1px 0px rgba(0,0,0,0.42);*/
}

video {
    background: black;
    color: white;
}

/* HEADER */

.altTitleColor {
    color: rgba(255, 255, 255, 0.75);
}

@-webkit-keyframes SlideBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes SlideBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes SlideBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

header {
    padding: 15px 0px 10px 0px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #FF4260;
    background: -webkit-linear-gradient(-18deg, #FF3431 0%, #FFBD41 8.3%, #8FCB3F 16.6%, #00E5FF 25%, #3277FF 33.3%, #FB67FF 41.6%, #FF3431 50%, #FFBD41 58.3%, #8FCB3F 66.6%, #00E5FF 75%, #3277FF 83.3%, #FB67FF 91.6%, #FF3431 100%);
    background-size: 1000% 200%;
    animation: SlideBG 180s linear infinite;
}

header h1 {
    font-size: 3.4em;
    font-weight: 800;
}

header h2 {
    margin-top: 11px;
    font-size: 1.2em;
    font-weight: 600;
}

header nav {
    margin: 20px 0px;
}

/* BUTTONS */

.button {
    display: inline-block;
    margin: 5px 8px;
    padding: 9px 20px 8px 20px;
    height: 25px;
    width: 110px;
    position: relative;
    top: 0;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    color: #FF4260;
    font-size: 1.25em;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s all ease-in-out;
}

.button:hover {
    top: -4px;
    box-shadow: 0px 1px 8px white;
    background: white;
}

.button:active {
    top: 0px;
    background: #FF4260;
    color: white;
}

.button .slash {
    display: inline-block;
    height: 105%;
    width: 1px;
    position: absolute;
    top: -1px;
    background: #FF4260;
    transform: rotate(18deg);
    transition: 0.2s background ease-in-out;
}

.button:active .slash {
    background: white;
}
    
header td .hiddenButtons { 
    display: none;
}
    
header .standardButtons {
    display: table-row;
}

/* HEADER INFOS */

header td, th {
    min-width: 210px;
    padding: 5px 20px;
    line-height: 25px;
}

.flags {
    font-size: 1.8em;
    line-height: 30px;
}

.gitnote {
    position: relative;
    left: 46px;
    top: 5px;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.75);
}


/* SKILLS */

#skills {
    height: 350px;
    background-color: #383835;
    box-shadow: inset 0 30px 30px -30px rgba(0,0,0,0.6), inset 0 -30px 30px -30px rgba(0,0,0,0.6);
}

#skills div {
    font-family: 'SFMono-Regular', 'SF Mono', 'Inconsolata', 'Lucida Console', Monaco, monospace;
    color: #383835;
    background: white;
    max-width: 100px;
}

#skills h1, #projects {
    display: block;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

#skills h1, #projects h1, #projects h3 {
    font-family: 'SFMono-Heavy', 'SF Mono', 'Inconsolata', Monaco, 'Lucida Console', monospace;
    font-weight: bolder;
    font-size: 2em;
}

#skills h1 {
    color: white;
    text-shadow: 0px 0px 30px black;
}


/* PROJECTS */

#projects table {
    max-width: 1160px;
}

#projects td {
    padding: 0px 15px 50px 15px;
    vertical-align: top;
}

#projects h1 {
    color: #FF4260;
    padding-top: 5px;
    padding-bottom: 40px;
}

#projects h2 {
    font-weight: bold;
    color: #383835;
}

#projects h3 {
    color: #888;
    padding: 60px 0 40px 0;
    font-size: 1.5em;
}

#projects p {
    color: #747474;
    font-weight: 400;
    padding: 10px 0;
}

#projects a {
    display: block;
    text-decoration: none;
    color: #A2A2A2;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 white;
    font-weight: 400;
}

#projects a span {
    position: relative;
    left: 0;
    transition: 0.2s all ease-in-out;
}

#projects a:hover span {
    left: 7px;
}

#projects a:hover {
    color: #777;
}

#projects img, #projects video {
    margin-right: 40px;
    max-width: 100%;
    max-height: 400px;
    box-shadow: 0px 0px 15px #999;
    transition: 0.4s box-shadow ease-out;
    border-radius: 5px;
    margin-bottom: 10px;
    white-space: none;
}

#projects td:hover img, #projects td:hover video {
    box-shadow: 0px 0px 30px #555;
}

#projects td.large p {
    padding: 20px 0;
}

#projects td.large p, #projects td.large a {
    margin-left: 60%;
    padding-left: 40px;
}

#projects td.large img, #projects td.large video {
    margin-bottom: 0;
    float: left;
    max-width: 60%;
    max-height: 500px;
}


/* Footer */

footer {
    padding: 10px 0px;
    margin-top: -30px;
    text-align: center;
    color: #A2A2A2;
    font-size: 0.8em;
}


/* MOBILE */
@media only screen and (max-width: 735px) {
    td, th {
        display: block;
    }
    
    header th {
        display: none;
    }
    
    header td:before { 
        content: attr(data-th);
        display: block;
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        padding-top: 10px;
    }
    
    header td .hiddenButtons { 
        display: block;
    }
    
    header .standardButtons {
        display: none;
    }
    
    .stayInline {
        display: inline-block;
        width: 42%;
    }
    
    #projects td.large p {
        padding: 10px 0;
    }

    #projects td.large p, #projects td.large a {
        margin-left: 0;
        padding-left: 0;
    }

    #projects td.large img, #projects td.large video {
        margin-bottom: 10px;
        float: none;
        max-width: 100%;
        max-height: 400px;
    }
}